In [10]:
import os
import pandas as pd
import numpy as np
from IPython.core.display import display, HTML
import pymongo
from pymongo import MongoClient
import urllib.parse

In [12]:
username = urllib.parse.quote_pludf =  pd.DataFrame(list(cursor))s('root')
password = urllib.parse.quote_plus('root')
#client = MongoClient('localhost', 27017)
client = MongoClient('mongodb://%s:%s@127.0.0.1' % (username, password))
db = client.retaildb
collection = db.retail

In [ ]:
cursor = collection.find()
for doc in cursor:
    print (doc)

In [17]:
data = pd.DataFrame(list(collection.find()))

In [24]:
data.head()

,_id,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,5f9349f42df2f15b5b30980d,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,5f9349f42df2f15b5b30980e,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,5f9349f42df2f15b5b30980f,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,5f9349f42df2f15b5b309810,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,5f9349f42df2f15b5b309811,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [25]:
pipeline = [
        {"$match": {"InvoiceNo":536365}},
]

In [26]:
inv_536365 = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(inv_536365))
df2.head()

,_id,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,5f9349f42df2f15b5b30980d,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,5f9349f42df2f15b5b30980e,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,5f9349f42df2f15b5b30980f,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,5f9349f42df2f15b5b309810,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,5f9349f42df2f15b5b309811,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom